<ng-include src="'views/header.html'"></ng-include>
<div class="container-fluid">
  <h1>Add a Product</h1>
  <div class="addForm">
    <input type="text" ng-model="dream.title" value="" placeholder="Dream Name">
    <input type="text" ng-model="dream.description" value="" placeholder="Dream Description">
    <input type="text" ng-model="dream.price" value="" placeholder="Dream Price">
    <input type="text" ng-model="dream.url" value="" placeholder="Dream Photo Url">
    <input type="button" name="name" ng-click="addDream(dream)" value="Add Dream">
  </div>
</div>
