<ng-include src="'views/header.html'"></ng-include>
<div class="container-fluid">
  <article class="dream" data-id = "{{dream._id}}">
    <a href="#/admin/{{dream._id}}">
      <ng-include src="'views/dream.html'"></ng-include>
    </a>
    <input type="text" name="dream-title" ng-model="dream.title" value="{{dream.title}}">
    <input type="text" name="dream-price" ng-model="dream.price" value="{{dream.price}}">
    <textarea name="dream-description" ng-model="dream.description" >{{dream.description}}</textarea>
    <textarea name="dream-url" ng-model="dream.url" >{{dream.url}}</textarea>
    <a href="#/admin"><input type="button" ng-click="editDream(dream)" name="dream-edit-submit" value="Submit Edits"></a>
  </article>
</div>
<ng-include src="'views/footer.html'"></ng-include>
