<div class="dream" data-id = "{{dream._id}}">
  <img src={{dream.url}} alt="{{dream.title}}">
  <h2 class = dreamTitle>{{dream.title}}</h2>
  <h5 class = dreamPrice>{{dream.price}}</h5>
  <p class="dreamDescription">{{dream.description}}</p>
  <input type="text" name="dream-title" ng-model="dream.title" value="{{dream.title}}">
  <input type="text" name="dream-price" ng-model="dream.price" value="{{dream.price}}">
  <textarea name="dream-description" ng-model="dream.description" >{{dream.description}}</textarea>
  <textarea name="dream-url" ng-model="dream.url" >{{dream.url}}</textarea>
  <a href="#/admin"><input type="button" ng-click="editDream(dream)" name="dream-edit-submit" value="Submit Edits"></a>
</div>
