body, html{
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

img{
  width: 400px;
}

.container-fluid{
  width:50%;
  margin-left:15%;
  text-align: center;
}
article{
  border:2px solid black;
  margin: 15px;
}
.dreamDetails{
  text-align: left;
  background-color: lightGray;
}
