<input type="button" ng-click = "emptyCart()" name="name" value="Empty Cart">
<a href="#/checkout"><input type="button" name="name" value="Check Out"></a>

<div class="totalCost">{{totalCost}}</div>
<article ng-repeat = "dream in cartDreams" class = "dream" data-id = "{{dream._id}}">
  <img src={{dream.url}} alt="{{dream.title}}">
  <h3 class = dreamTitle>{{dream.title}}</h3>
  <h5 class = dreamPrice>{{dream.price}}</h5>
  <span class="quantity">{{dream.quantity}} in Cart</span>
  <input type="text" ng-model="quantity" placeholder "quantity" value="">
  <a href="#/cart"><input type="button" ng-click = "updateQuantity(dream,quantity)" name="name" value="Update Quantity"></a>
  <a href="#/cart"><input type="button" ng-click = "removeFromCart(dream)" name="name" value="Remove from Cart"></a>
</article>
