<ng-include src="'views/header.html'"></ng-include>
<div class="container-fluid">
  <article class="dream" data-id = "{{dream._id}}">
    <a href="#/dreams/{{dream._id}}">
      <ng-include src="'views/dream.html'"></ng-include>
    </a>
  </article>
  <div class="reviewForm">
    <input type="text" name="review-Name" ng-model="review.name" placeholder="Name">
    <textarea name="review-Text" ng-model="review.text"> Review </textarea>
    <input type="text" name="review-Rating" ng-model="review.rating" placeholder="1-5">
    <a href="#/dreams/{{dream._id}}" ng-click="addReview(dream,review)"><input type="button"  name="dream-review-submit" value="Submit Review"></a>
  </div>
</div>
<ng-include src="'views/footer.html'"></ng-include>
